*{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}
body{
    margin: 0;
}

.header{
    align-items: center;
    height: 44px;
    justify-content: space-between;
    padding: 0 16px;
    display: flex;
    border-bottom:1px solid rgba(0,0,0,.0975);
    position: fixed;
    top: 0;
    width: 100vw;
    background: white;
    box-sizing: border-box;
    z-index: 1;
    h1{
        color: #262626;
        font-size: 16px;
        font-weight: 600;
    }
    .next-text{
        color: #3897f0;
        font-size: 16px;
        font-weight: 600;
    }
    &.feed1,
    &.feed2,
    &.feed3{
        &>div,
        &>h1{
            width:33.3333%;
            text-align: center;
            &:first-child{
                text-align: start;
            }
            &:last-child{
                text-align: end;
            }
        }
    }
}

.page-container{
    padding-top: 44px;
    padding-bottom: 100px;
    &.feed-page1{
    }
    &.feed-page2{
        height: calc(100vh - 88px);
        padding-bottom: 44px;
    }
}

.instagram-icon{
    background-image: url(/assest/images/instagram-icon.png);
    background-repeat: no-repeat;
    &.camera{
        width: 24px;
        height: 24px;
        background-size: 355px 345px;
        background-position: -168px -270px;
        cursor: pointer;
    }
    &.logo{
        width: 103px;
        height: 31px;
        background-size: 380px 345px;
        background-position: -74px -195px;
    }
    &.message{
        width:24px;
        height:24px;
        background-size: 355px 347px;
        background-position: -190px -227px;
        cursor: pointer;
    }
    &.ten-menu{
        width:24px;
        height:24px;
        background-size: 355px 340px;
        background-position: -318px -200px;
        cursor: pointer;
    }
    &.like{
        width:24px;
        height:24px;
        background-size: 362px 344px;
        background-position: -98px -295px;
        position: relative;
        cursor: pointer;
    }
    &.comment{
        width:24px;
        height:24px;
        background-size: 355px 344px;
        background-position: -190px -197px;
        cursor: pointer;
    }
    &.share{
        width:24px;
        height:24px;
        background-size: 355px 344px;
        background-position: -265px -320px;
        cursor: pointer;
    }
    &.home{
        width:24px;
        height:24px;
        background-size: 355px 344px;
        background-position: -269px -243px;
        &.active{
            background-position: -120px -295px;
        }
        cursor: pointer;
    }
    &.search{
        width:24px;
        height:24px;
        background-size: 355px 344px;
        background-position: -168px -320px;
        cursor: pointer;
    }
    &.plus{
        width:24px;
        height:24px;
        background-size: 355px 344px;
        background-position: 0px -319px;
        cursor: pointer;
    }
    &.person{
        width:24px;
        height:24px;
        background-size: 355px 344px;
        background-position: -217px -269px;
        cursor: pointer;
        &.active{
            background-position: -240px -269px;
        }
    }
    &.arrow-right{
        width:20px;
        height:20px;
        background-size: 410px 396px;
        background-position: -365px -121px;
        cursor: pointer;
    }
    &.close{
        width:20px;
        height:20px;
        background-size: 410px 396px;
        background-position: -365px -121px;
        transform: rotate(180deg);
        cursor: pointer;
    }
}
.instagram-icon3{
    background-image: url(/assest/images/instagram-icon3.png);
    
    &.blue-plus{
        width: 18px;
        height: 18px;
        background-size: 410px 396px;
        background-position: -250px -254px;
        cursor: pointer;
        position: absolute;
        margin-top: -17px;
        right: 5px;
    }
}

.stories-wrapper{
    display: flex;
    width: 100vw;
    height: 105px;
    padding: 10px 8px;
    border-bottom: 1px solid #e6e6e6;
    overflow-x: auto; 
    box-sizing: border-box;
    &__item{
        width: 72px;
        height: 100%;
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;
        align-items: center;
        padding: 0 4px;
    }
    &__img{
        padding: 2px;
        overflow: hidden;
        width: 62px;
        height: 62px;
        position: relative;
        img{
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }
        &__border{
            @extend .stories-wrapper__img;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border: 1px solid #ddd;
        }
    }
    &__name{
        display: block;
        justify-content: center;
        color: #262626;
        font-size: 12px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        text-align: center;
        max-width: 72px;
    }
}

.write-feed,
.store-info{
    padding: 10px 16px;
    border-bottom: 0.5px solid rgb(239, 239, 239);
    display: flex;
    align-items: center;
    img{
        flex: none;
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }
    &.share{
        padding: 5px 16px;
    }
    &__content{
        padding: 0 0 0 15px;
        width: 100vw;
        &__name{
            color: #262626;
            font-weight:600;
        }
        &__name2{
            font-size: 12px;
            color: #262626;
            font-weight:400;
        }
    }
}

.write-feed{
    flex-direction: column;
    .write-feed__wrapper{
        display: flex;
        align-items: center;
        width: 100%;
        img{
            border-radius: 0%;
        }
    }
    &__text{
        color: #b5b5b5;
    }
    .progress{
        margin-top: 5px;
        margin-right: auto;
    }
}

.main-image1,
.main-image2,
.main-image3,
.feed-main-image1{
    width: 100vw;
}

.loading{
    opacity: 0.6;
}

.feed-float-icon{
    width:30px;
    height:30px;
    background-size: 89px 89px;
    background-position: -59px 0;
    background-image: url(/assest/images/instagram-icon2.png);
    position: absolute;
    z-index: 1;
    margin-top: -40px;
    margin-left: 10px;
    &2{
        @extend .feed-float-icon;
        right: 10px;
        background-position: 0 -59px;
    }
}

.icons-warpper{
    display: flex;
    padding: 10px 16px;   
    .instagram-icon{
        flex: none;
        margin-right: 10px;
        &:last-child{
            margin: 0;
            margin-left: auto;
        }
    }
}
.like-text{
    padding:0 16px;   
    font-weight: 600;
    color: #262626;
}
.date-text{
    padding:0 16px; 
    & span:first-child{
        font-weight: 600;
        line-height: 18px;
    }  
}

.content-text{
    padding:0 16px; 
    line-height: 16px;
}

.footer{
    position: fixed;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 44px;
    flex: none;
    position: fixed;
    bottom: 0;
    background: white;
    align-items: center;
    border-top:1px solid rgba(0,0,0,.0975);
}
.hide{
    display: none !important;
}

.image-slider-nav{
    display: flex;
    width: 100vw;
    height: 6px;
    position: absolute;
    justify-content: center;
    margin-top: 15px;
    & .ten{
        border-radius: 50%;
        height: 6px;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        width: 6px;
        background: #dbdbdb;
        margin-left: 5px;
        &:first-child{
            margin-left: 0;
        }
        &.active{
            background: #3897f0;
        }
    }
}
a{
    color: #003569;
    text-decoration: none;
}
.feed-page2{
    display: flex;
    flex-direction: column;
    .feed-images-warpper{
        padding: 10px 20px;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .feed-nav{
        display: flex;
        width: 40px;
        width: 100vw;
        .feed-nav__text{
            width: 50vw;
        }
    }
} 
.feed-images-warpper{
    display: flex;
    overflow-x:auto;
    .feed-image{
        width: calc(25vw - 2px);
        height: 25vw;
        border: 1px solid white;
        &.active{
            opacity: 0.6;
        }
    }
    .image-card{
        margin-right: 5px;
        &:last-child{
            margin-right: 0;
        }
        &>div{
            &.active{
                font-weight: bold;
            }
            text-align: center;
        }
    }
}

.feed-nav{
    display: flex;
    .feed-nav__text{
        width:33.3333%;
        display: flex;
        justify-content: center;
        padding: 7px;
        &.active{
            font-weight: 600;
        }
    }
}



.progress {
    background: rgba(255,255,255,0.1);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    display: flex;
    width: 100%;
    height: 5px;
    z-index: 1;
    margin-top: 5px;
  }
  
  .progress-value {
    animation: load 5s ease-out forwards;
    box-shadow: 0 10px 5px -10px #fff;
    background: rgb(79, 159, 252);
    height: 3px;
    width: 0;
  }
  
  @keyframes load {
    0% { width: 0; }
    100% { width: 100%; }
  }
  
  .tooltip{
      position: absolute;
      width: 80px;
      top: -49px;
      left: -27px;
      opacity: 1;
      animation: fade 0.3s ease-out forwards;
      &.hide{
          opacity: 0;
      }
  }
  
  @keyframes fade {
    0% { 
        top: -40px;
        opacity: 0; 
    }
    100% { 
        top: -49px;
        opacity: 1; 
    }
  }