*{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}
body{
    margin: 0;
}

.header{
    align-items: center;
    height: 44px;
    justify-content: space-between;
    padding: 0 16px;
    display: flex;
    border-bottom:1px solid rgba(0,0,0,.0975);
    position: fixed;
    top: 0;
    width: 100vw;
    background: white;
    box-sizing: border-box;
}

.page-container{
    padding-top: 44px;
    padding-bottom: 100px;
}

.instagram-icon{
    background-image: url(/assest/images/instagram-icon.png);
    background-repeat: no-repeat;
    &.camera{
        width: 24px;
        height: 24px;
        background-size: 355px 345px;
        background-position: -168px -270px;
        cursor: pointer;
    }
    &.logo{
        width: 103px;
        height: 31px;
        background-size: 380px 345px;
        background-position: -74px -195px;
    }
    &.message{
        width:24px;
        height:24px;
        background-size: 355px 347px;
        background-position: -190px -227px;
        cursor: pointer;
    }
    &.ten-menu{
        width:24px;
        height:24px;
        background-size: 355px 340px;
        background-position: -318px -200px;
        cursor: pointer;
    }
    &.like{
        width:24px;
        height:24px;
        background-size: 362px 344px;
        background-position: -98px -295px;
        cursor: pointer;
    }
    &.comment{
        width:24px;
        height:24px;
        background-size: 355px 344px;
        background-position: -190px -197px;
        cursor: pointer;
    }
    &.share{
        width:24px;
        height:24px;
        background-size: 355px 344px;
        background-position: -265px -320px;
        cursor: pointer;
    }
    &.home{
        width:24px;
        height:24px;
        background-size: 355px 344px;
        background-position: -120px -295px;
        cursor: pointer;
    }
    &.search{
        width:24px;
        height:24px;
        background-size: 355px 344px;
        background-position: -168px -320px;
        cursor: pointer;
    }
    &.plus{
        width:24px;
        height:24px;
        background-size: 355px 344px;
        background-position: 0px -319px;
        cursor: pointer;
    }
    &.person{
        width:24px;
        height:24px;
        background-size: 355px 344px;
        background-position: -217px -269px;
        cursor: pointer;
    }
}

.stories-wrapper{
    display: flex;
    width: 100vw;
    height: 105px;
    padding: 10px 8px;
    border-bottom: 1px solid #e6e6e6;
    overflow-x: auto; 
    box-sizing: border-box;
    &__item{
        width: 72px;
        height: 100%;
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;
        align-items: center;
        padding: 0 4px;
    }
    &__img__border{
        padding: 2px;
        border: 1px solid #ddd;
        border-radius: 50%;
        overflow: hidden;
        width: 60px;
        height: 60px;
        img{
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }
    }
    &__name{
        display: block;
        justify-content: center;
        color: #262626;
        font-size: 12px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        text-align: center;
        max-width: 72px;
    }
}

.store-info{
    padding: 10px 16px;
    border-bottom: 0.5px solid rgb(239, 239, 239);
    display: flex;
    align-items: center;
    img{
        flex: none;
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }
    &__content{
        padding: 0 0 0 15px;
        width: 100vw;
        &__name{
            color: #262626;
            font-weight:600;
        }
        &__name2{
            font-size: 12px;
            color: #262626;
            font-weight:400;
        }
    }
}

.main-image{
    width: 100vw;
}

.icons-warpper{
    display: flex;
    padding: 10px 16px;   
    .instagram-icon{
        flex: none;
        margin-right: 10px;
        &:last-child{
            margin: 0;
            margin-left: auto;
        }
    }
}
.like-text{
    padding:0 16px;   
    font-weight: 600;
    color: #262626;
}
.date-text{
    padding:0 16px; 
    & span:first-child{
        font-weight: 600;
        line-height: 18px;
    }  
}

.content-text{
    padding:0 16px; 
    line-height: 16px;
}

.footer{
    position: fixed;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 44px;
    flex: none;
    position: fixed;
    bottom: 0;
    background: white;
    align-items: center;
    border-top:1px solid rgba(0,0,0,.0975);
}